[submodule ".pkgs/nixpkgs-mozilla"]
	path = .pkgs/nixpkgs-mozilla
	url = https://github.com/mozilla/nixpkgs-mozilla.git
[submodule ".ssh"]
	path = .ssh
	url = git@github.com:compilercomplied/nix-ssh.git
